<div class="container mt-3">
    <div class="card p-2 w-50">
        <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)">
            <div class="contaier">
                <div class="row">
                    <mat-form-field appearance="outline" class="d-flex justify-content-center">
                        <mat-label>Category Name:</mat-label>
                        <input matInput placeholder="Input Category Name here" maxlength="128"
                            [(ngModel)]="category.name" name="name">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" class="d-flex justify-content-center">
                        <mat-label>Parent Category</mat-label>
                        <mat-select placeholder="Select the parent level of category" name="parent"
                            (selectChange)="parentLevelChange(category.id)" [(ngModel)]="category.parent">
                            <mat-option value=0>No Parent</mat-option>
                            <mat-option *ngFor="let ctgory of clist" [value]="ctgory">{{ ctgory.name
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row d-flex flex-row-reverse bd-highlight">
                    <mat-checkbox [(ngModel)]="category.enabled" name="enabled">Enabled</mat-checkbox>
                </div>
                <div class="d-flex justify-content-center">
                    <button mat-stroked-button class="btn btn-primary" style="margin-right:3px">clear</button>
                    <button mat-stroked-button type="submit" class="btn btn-primary">Add Category</button>
                </div>
            </div>
        </form>


    </div>
</div>