<div class="sidenav-header">
  <img
    [width]="profilePicSize()"
    [height]="profilePicSize()"
    src="/assets/profilePic.jpg"
  />
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h3>Your Channel</h3>
    <p>John Lee</p>
  </div>
</div>
<mat-nav-list *ngIf="isAdminRole()">
  <a
    mat-list-item
    *ngFor="let item of menuItems()"
    class="menu-item"
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      matListItemIcon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      >{{ item.icon }}</mat-icon
    >
    <span matListItemTitle *ngIf="!sideNavCollapsed()">
      {{ item.label }}
    </span>
  </a>
</mat-nav-list>
<mat-nav-list *ngIf="isSellerRole">
  <a
    mat-list-item
    *ngFor="let item of sellerMenuItems()"
    class="menu-item"
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      matListItemIcon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      >{{ item.icon }}</mat-icon
    >
    <span matListItemTitle *ngIf="!sideNavCollapsed()">
      {{ item.label }}
    </span>
  </a>
</mat-nav-list>
